<div class="card text-white bg-primary mb-3">
	<div class="card-header">Registration</div>
	<div class="card-body">

		<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

			<div class="form-group">
				<fieldset>
					<label class="control-label" for="fname">First Name:</label>
					<input class="form-control" id="fname" type="text" placeholder="Input here..." formControlName="firstName">
				</fieldset>
			</div>

			<div class="form-group">
				<fieldset>
					<label class="control-label" for="lname">Last Name:</label>
					<input class="form-control" id="lname" type="text" placeholder="Input here..." formControlName="lastName">
				</fieldset>
			</div>

			<div class="form-group">
				<fieldset>
					<label class="control-label" for="name">First Name:</label>
					<input class="form-control" id="name" type="text" placeholder="Input here..." formControlName="firstName">
				</fieldset>
			</div>
		  
			<p>Complete the form to enable button.</p>
			<button type="submit" [disabled]="!profileForm.valid">Submit</button>
			{{ profileForm.valid }}
		</form>


	</div>
</div>